extends ../layout
block style
  link(rel='stylesheet', href='/stylesheets/max.upload.css')
  link(rel='stylesheet', href='/stylesheets/classic.css')
  link(rel='stylesheet', href='/stylesheets/classic.date.css')
  style.
    .wrapper-maxupload .edit-maxupload #top-tools #submit{
      display:none;
    }
block content
  .register-page.mdl-layout__content
    a(name='top')
    .logo-font.android-slogan EDIT PROFILE
    //- .logo-font.android-sub-slogan 
    form(action='/user/#{user.username}',method="post")
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.is-focused(style='width:680px;')
        .profile-cover
        - var cov = user.cover ? user.cover : '';
        input#cover(type='hidden',name='cover',value='')
        input#cover-x(type='hidden',name='cover-x',value='')
        input#cover-y(type='hidden',name='cover-y',value='')
        input#cover-w(type='hidden',name='cover-w',value='')
        input#cover-h(type='hidden',name='cover-h',value='')
        input#cover-r(type='hidden',name='cover-r',value='')
        input#cover-frameW(type='hidden',name='cover-frameW',value='')
        input#cover-frameH(type='hidden',name='cover-frameH',value='')
        label.mdl-textfield__label(for='cover') cover
      br
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.is-focused(style='width:200px;')
        .profile-avatar
        - var pic = user.picture ? user.picture : '';
        input#avatar(type='hidden',name='avatar',value='')
        input#avatar-x(type='hidden',name='avatar-x',value='')
        input#avatar-y(type='hidden',name='avatar-y',value='')
        input#avatar-w(type='hidden',name='avatar-w',value='')
        input#avatar-h(type='hidden',name='avatar-h',value='')
        input#avatar-r(type='hidden',name='avatar-r',value='')
        input#avatar-frameW(type='hidden',name='avatar-frameW',value='')
        input#avatar-frameH(type='hidden',name='avatar-frameH',value='')
        label.mdl-textfield__label(for='avatar') avatar
      br
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input#username.mdl-textfield__input(type='text',name='username',pattern="^[a-zA-Z0-9]{3,}$",value='#{user.username}')
        label.mdl-textfield__label(for='username') username
        span.mdl-textfield__error(msg="Uses only alphanumeric and at least 3 characters") 
      button#check-valid.mdl-button.mdl-js-button.mdl-button--primary
        | check available
      br
      - var name = user.name.split(' ')
      - var firstname = name[0]
      - name.splice(0,1)
      - var lastname = name.join(' ')
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input#firstname.mdl-textfield__input(type='text',name='firstname',value ='#{firstname}')
        label.mdl-textfield__label(for='firstname') first name
        span.mdl-textfield__error(msg="Firstname is required") 
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input#lastname.mdl-textfield__input(type='text',name='lastname',value='#{lastname}')
        label.mdl-textfield__label(for='lastname') last name
      br
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.is-focused
        include ./includes/countries.jade
        label.mdl-textfield__label(for='country') country
      br
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input#email.mdl-textfield__input(type='text',name='email',pattern='^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$',value='#{user.email}')
        label.mdl-textfield__label(for='email') email
        span.mdl-textfield__error(msg="Invalid email input")   
      br
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        - var bio = user.bio || ""
        input#bio.mdl-textfield__input(type='text',name='bio',value='#{bio}')
        label.mdl-textfield__label(for='bio') about you
      br
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        - var dob = user.dob || ""
        - var dateDob = new Date(dob.toString());
        - if(dob) dob = dateDob.getFullYear()+'-'+("0" + (dateDob.getMonth() + 1)).slice(-2)+'-'+("0" + dateDob.getDate()).slice(-2);
        input#dob.mdl-textfield__input(type='date',name='dob',value='#{dob}')
        //- input#dateofbirth(type='hidden',name='dateofbirth',value='')
        label.mdl-textfield__label(for='dob') date of birth
      br
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input#old-password.mdl-textfield__input(type='password',name='old-password',pattern='(?=.*\\d)(?=.*([a-z]|[A-Z])).{6,}') 
        label.mdl-textfield__label(for='old-password') old password
        span.mdl-textfield__error(msg="Must contain at least one number and one uppercase or lowercase letter, and at least 6 characters")   
      br
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input#password.mdl-textfield__input(type='password',name='password',pattern='(?=.*\\d)(?=.*([a-z]|[A-Z])).{6,}') 
        label.mdl-textfield__label(for='password') choose a new password
        span.mdl-textfield__error(msg="Must contain at least one number and one uppercase or lowercase letter, and at least 6 characters")   
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input#reenter-password.mdl-textfield__input(type='password',name='reenter-password')
        label.mdl-textfield__label(for='reenter-password') re-enter new username
        span.mdl-textfield__error(msg="Passwords do not match")   
      .btn-submit-right(style='margin:25px 0px 100px 365px;')
        a#submit.mdl-button.mdl-js-button.mdl-button--raised(href='/user/#{user.username}',style='margin-right: 10px;') cancel
        input#submit.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(type='submit',value='save changes')
block script
  script(src='/javascripts/jquery.ui.widget.js')
  script(src='/javascripts/jquery.iframe-transport.js')
  script(src='/javascripts/jquery.fileupload.js')
  script(src='/javascripts/jquery.boilerplate.min.js')
  script(src='/javascripts/picker.js')
  script(src='/javascripts/legacy.js')
  script(src='/javascripts/picker.date.js')
  script.
    var avatar_config = {
      width : 200,
      height: 200
    }
    var cover_config = {
      width : 680,
      height: 270
    }
    $(document).ready(function(){
      $('#country').val('#{user.country}')
      picker = $('#dob').pickadate({
        selectYears: true,
        selectMonths: true
      }).pickadate('picker')
      if('#{dob}'){
        var _d = new Date('#{dob}')
        picker.set('select', [_d.getFullYear(), _d.getMonth(), _d.getDay()])
      }
      picker.on('set',function(){
        $('#dateofbirth').val(this.get('select'))
      })
      $('input[name]').each(function(){
        _span = $(this).siblings('span');
        if(_span.length>0){
          $(this).keydown(function(){
            _span = $(this).siblings('span');
            $(this).parent().removeClass('is-valid is-invalid');
            _span.html(_span.attr('msg'))
          })
        }
        //- $('#username').keydown(function(){
        //-   $(this).parent().removeClass('is-valid is-invalid');
        //-   $(this).siblings('span').html('Uses only alphanumeric and at least 3 characters')
        //- })
      })
      $('#password').keyup(function(){
        $('#reenter-password').parent().removeClass('is-invalid is-valid')
      })
      $('#reenter-password').keydown(function(e){
        if($('#password').parent().hasClass('is-invalid')){
          $('#password').focus();
          e.preventDefault();
          return false;
        }
      }).keyup(function(){
        if($(this).val()!=$('#password').val()){
          $(this).parent().addClass('is-invalid');
        }else{
          $(this).parent().removeClass('is-invalid');
        }
      })
      $('#check-valid').click(function(e){
        e.preventDefault();
        $.ajax({
          url:'#{site_url}/user/check',
          type:'POST',
          dataType:'json',
          data:{username:$('#username').val()},
          success:function(response){
            console.log(response);
            if(response.status){
              $('#username').parent().addClass('is-valid');
            }else{
              if(response.data == '#{user.username}'){
                $('#username').parent().addClass('is-valid');
              }else{
                $('#username').parent().addClass('is-invalid');
                $('#username').siblings('span').html('Username already used')
              }
            }
          }
        })
        return false;
      })
      _url_cover = '#{pic}' || '/images/upload-foto.png';
      $( ".profile-avatar" ).maxupload({
        tagname: 'image-avatar',
        basepath:'#{site_url}',
        url:'/user/#{user.username}', //for upload temp if not support filereader html5
        //- debug:true,
        width : avatar_config.width,
        height : avatar_config.height,
        alwaysUpload:true,
        autoStartWebcam:false,
        acceptFile: '.jpg,.png',
        acceptFileTypes : /(\.|\/)(jpe?g|png)$/i,
        photo:_url_cover, //'/images/upload-foto.png'
        loading:'/images/loading.gif',
        onready:function(data){
          var ctx=data
          var updateValue = function(){
            var _transform = ctx.getData().position
            $('#avatar-x').val(_transform.x)
            $('#avatar-y').val(_transform.y)
            $('#avatar-w').val(_transform.w)
            $('#avatar-h').val(_transform.h)
            $('#avatar-r').val(ctx.rotate)
            $('#avatar-frameW').val(_transform.frame.w)
            $('#avatar-frameH').val(_transform.frame.h)
          }
          $(data.preview).on({
            'touchmove':updateValue,
            'mousemove':updateValue
          })
        },
        onupdate:function(data){
          if($(".profile-avatar #preview").attr('src'))$('#avatar').val($(".profile-avatar #preview").attr('src'))
          var _transform = data.getData().position
          $('#avatar-x').val(_transform.x)
          $('#avatar-y').val(_transform.y)
          $('#avatar-w').val(_transform.w)
          $('#avatar-h').val(_transform.h)
          $('#avatar-r').val(data.rotate)
          $('#avatar-frameW').val(_transform.frame.w)
          $('#avatar-frameH').val(_transform.frame.h)
        },
        ondelete:function(){
          $('#avatar').val('')  
        }
      });
      _url_cover0 = '#{cov}' || '/images/upload-foto.png';
      $( ".profile-cover" ).maxupload({
        tagname: 'image-cover',
        basepath:'#{site_url}',
        url:'/user/#{user.username}', //for upload temp if not support filereader html5
        //- debug:true,
        width : cover_config.width,
        height : cover_config.height,
        alwaysUpload:true,
        autoStartWebcam:false,
        acceptFile: '.jpg,.png',
        acceptFileTypes : /(\.|\/)(jpe?g|png)$/i,
        photo:_url_cover0, //'/images/upload-foto.png'
        loading:'/images/loading.gif',
        onready:function(data){
          var ctx=data
          var updateValue = function(){
            var _transform = ctx.getData().position
            $('#cover-x').val(_transform.x)
            $('#cover-y').val(_transform.y)
            $('#cover-w').val(_transform.w)
            $('#cover-h').val(_transform.h)
            $('#cover-r').val(ctx.rotate)
            $('#cover-frameW').val(_transform.frame.w)
            $('#cover-frameH').val(_transform.frame.h)
          }
          $(data.preview).on({
            'touchmove':updateValue,
            'mousemove':updateValue
          })
        },
        onupdate:function(data){
          if($(".profile-cover #preview").attr('src'))$('#cover').val($(".profile-cover #preview").attr('src'))
          var _transform = data.getData().position
          $('#cover-x').val(_transform.x)
          $('#cover-y').val(_transform.y)
          $('#cover-w').val(_transform.w)
          $('#cover-h').val(_transform.h)
          $('#cover-r').val(data.rotate)
          $('#cover-frameW').val(_transform.frame.w)
          $('#cover-frameH').val(_transform.frame.h)
        },
        ondelete:function(){
          $('#cover').val('')  
        }
      });
    });
