extends ../layout
block style
  link(rel="stylesheet",href="/stylesheets/swiper.min.css")
  style.
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .game-square.mdl-card {
    height: 320px;
    
    }
    .game-square > .mdl-card__title {
      position:relative;
      color: #fff;
    }
    .game-square .game-gradient {
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
      width: 100%;
      height: 75px;
      position: absolute;
      left: 0px;
      bottom: 0px;
      z-index: 1;
    }
    .game-square .mdl-card__title-text{
      z-index: 2;
    }
    .game-square .mdl-card__supporting-text{
      font-size:14px;
    }
    .play-now-button{
      position: absolute;
      right: 30px;
      bottom: 0px;
      z-index: 10;
    }
block content
  .home-page.mdl-layout__content
    a(name='top')
    .mdl-grid
      .mdl-cell.mdl-cell--12-col.home-header.swiper-container
        .swiper-wrapper
          each game in games
            a.featured-content.swiper-slide(href='#{site_url}/games/#{game.name}')
              .featured-content-image
                img(src='#{game.cover}')
              .featured-content-gradient
              .featured-content-detail
                .featured-content-title= game.title
                .featured-content-description= game.description
          
        .swiper-pagination
    .mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
      .mdl-tabs__tab-bar
        a.mdl-tabs__tab.is-active(href='#all-games') All Games
        a.mdl-tabs__tab(href='#popular-games') Popular Games
        a.mdl-tabs__tab(href='#latest-games') Latest Games
      #all-games.mdl-tabs__panel.is-active
        .mdl-grid
          each game in games
            - var img_pic = game.picture ? 'background: url("'+game.picture+'") left top no-repeat;background-position:center center;' : ''
            .game-square.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--2-col
              a.mdl-card__title.mdl-card--expand(href='#{site_url}/games/#{game.name}',style='#{img_pic}')
                .game-gradient
                .mdl-card__title-text= game.title
              a.mdl-card__supporting-text(href='#{site_url}/games/#{game.name}')= game.description
              .mdl-card__actions.mdl-card--border
                a.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(href='#{site_url}/games/#{game.name}/play',style='float: right;') PLAY NOW
      #popular-games.mdl-tabs__panel
        .mdl-grid
          each game in games
            - var img_pic = game.picture ? 'background: url("'+game.picture+'") left top no-repeat;background-position:center center;' : ''
            .game-square.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--2-col
              .mdl-card__title.mdl-card--expand(style='#{img_pic}')
                .game-gradient
                h2.mdl-card__title-text= game.title
              .mdl-card__supporting-text= game.description
              .mdl-card__actions.mdl-card--border
                a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='#{site_url}/games/#{game.name}/play') PLAY NOW
      #latest-games.mdl-tabs__panel
        .mdl-grid
          each game in games
            - var img_pic = game.picture ? 'background: url("'+game.picture+'") left top no-repeat;background-position:center center;' : ''
            .game-square.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--2-col
              .mdl-card__title.mdl-card--expand(style='#{img_pic}')
                .game-gradient
                h2.mdl-card__title-text= game.title
              .mdl-card__supporting-text= game.description
              .mdl-card__actions.mdl-card--border
                a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='#{site_url}/games/#{game.name}/play') PLAY NOW
block script
  script(src="/javascripts/swiper.jquery.min.js")
  script.
    var swiper = new Swiper('.swiper-container', {
      loop: true,
      autoplay: 2000,
      pagination: '.swiper-pagination',
      paginationClickable: true
    });
